- const gitBase = 'github.com/grownjs/jamrock-guide/blob/master';
- const gitUrl = '//' + gitBase + '/' + self.filename;

doctype html
html(theme='dark')
  head
    base(href='/')
    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='HandheldFriendly' content='true')
    meta(name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no')

    title Jamrock | #{title}
    meta(name='release' content=GIT_REVISION)

    link(rel='stylesheet' href='//unpkg.com/highlight.js@10.7.3/styles/tomorrow.css' download)
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat' download="fonts.css")
    import(from='styles.css')

  body.reset
    import(from='sprites.svg')

    #wrapper
      #content.body.noscroll
        if error
          details
            = error.stack
            summary= error.message

        //-#menu.flex
          .stork-wrapper
            icon(src='#search' width=16 height=16)
            input.stork-input(data-stork='docs' placeholder='Search...')
            .stork-output(data-stork='docs-output')
          a(href="`${location.pathname === '/' ? '.' : location.pathname}/#nav`") &#9776;

        if title
          h1.flex.gap-sm.centered #{title} #[small: a(href=gitUrl target='_blank') &#9998;]

        main!= yield

        nav.flex.gap-sm.between
          if next
            span ➯ Next: #[a#next(href=next.link) #{next.label}]

          a#back(href=(location.pathname === '/' ? '.' : location.pathname) + '/#' onclick='content.scrollTop=0') &uarr; Back to the top

      aside#sidebar.noscroll
        .h-full.flex.vertical
          include menu

          h2.reset.meteorite.floating
            a(href='.' data-version=pkg.version): import(from='jamrock-meteorite.svg')

          //-.p-2.flex.gap-sm.vertical
            a(href='//badge.fury.io/js/grown' target='_blank'): img(src='//badge.fury.io/js/grown.svg')
            a(href='//codecov.io/gh/grownjs/grown' target='_blank'): img(src='//codecov.io/gh/grownjs/grown/branch/master/graph/badge.svg')
            a(href='//github.com/grownjs/grown/actions' target='_blank'): img(src='//github.com/grownjs/grown/workflows/build/badge.svg')

    //-
      script(src='//files.stork-search.net/stork.js')
      script.
        window.stork.register('docs', 'index.st', {
          minimumQueryLength: 2,
        }); // eslint-disable-line
